@import "~react-image-gallery/styles/css/image-gallery.css";

/* Custom Styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;

  color: white;

  background-color: rgb(65, 65, 70);
}

/* Util Tools */
.bg-dark
{
  background-color: rgb(65, 65, 70);
}

.container
{
  width: 90%;
  margin: auto;
}

.justify
{
  justify-content: space-between;
}

.title-1
{
  font-size: 60px;
}

.title-2
{
  font-size: 50px;
}

.title-3
{
  font-size: 40px;
}

.fw-bold
{
  font-weight: bold;
}

.fs-1
{
  font-size: 18px;
}

.fs-2
{
  font-size: 20px;
}

.fs-3
{
  font-size: 22px;
}

.fs-4
{
  font-size: 24px;
}

.w-100
{
  width:100%;
}

.w-75
{
  width:75%;
}

.w-50
{
  width:50%;
}



.w-25
{
  width: 25%;
}

.h-100
{
  height:100% !important;
}

.h-75
{
  height:75% !important;
}

.h-50
{
  height:50% !important;
}

.h-25
{
  height: 25% !important;
}

.h-small
{
  height: 200px;
}

.h-80vh
{
  height: 80vh;
}

.h-100vh
{
  height: 100vh;
}

.t-left
{
  text-align: left;
}

.d-inline
{
  display: inline-block;
}

.border
{
  border: 1px solid gray;
}

.d-flex
{
  display: flex;
}
.fl-r
{
  float: right;
}

.mr-1
{
  margin-right: 10px;
}

.mr-2
{
  margin-right: 15px;
}

.mr-3
{
  margin-right: 20px;
}

.mr-4
{
  margin-right: 25px;
}

.mr-5
{
  margin-right: 30px;
}

.mb-1
{
  margin-bottom: 10px;
}

.mb-2
{
  margin-bottom: 15px;
}

.mb-3
{
  margin-bottom: 20px;
}

.mb-4
{
  margin-bottom: 25px;
}

.mb-5
{
  margin-bottom: 30px;
}

.mt-1
{
  margin-top: 10px;
}

.mt-2
{
  margin-top: 15px;
}

.mt-3
{
  margin-top: 20px;
}

.mt-4
{
  margin-top: 25px;
}

.mt-5
{
  margin-top: 30px;
}

.p-1
{
  padding: 10px;
}

.p-2
{
  padding: 15px;
}

.p-3
{
  padding: 20px;
}

.pr-1
{
  padding-right: 10px;
}

.pr-2
{
  padding-right: 15px;
}

.pr-3
{
  padding-right: 20px;
}

.pr-4
{
  padding-right: 25px;
}

.pr-5
{
  padding-right: 30px;
}

.pt-1
{
  padding-top: 10px;
}

.pt-2
{
  padding-top: 15px;
}

.pt-3
{
  padding-top: 20px;
}

.pt-4
{
  padding-top: 25px;
}

.pt-5
{
  padding-top: 30px;
}

.pb-1
{
  padding-bottom: 10px;
}

.pb-2
{
  padding-bottom: 15px;
}

.pb-3
{
  padding-bottom: 20px;
}

.pb-4
{
  padding-bottom: 25px;
}

.pb-5
{
  padding-bottom: 30px;
}

.pl-1
{
  padding-left: 10px;
}

.pl-2
{
  padding-left: 15px;
}

.pl-3
{
  padding-left: 20px;
}

.pl-4
{
  padding-left: 25px;
}

.pl-5
{
  padding-left: 30px;
}

.p-absolute
{
  position: absolute;
}

.p-relative
{
  position: relative;
}

.t-1
{
  top:10px;
}

.t-2
{
  top:15px;
}

.t-3
{
  top:20px;
}

.t-4
{
  top:25px;
}

.t-5
{
  top:30px;
}

.b-1
{
  bottom:10px;
}

.b-2
{
  bottom:15px;
}

.b-3
{
  bottom:20px;
}

.b-4
{
  bottom:25px;
}

.b-5
{
  bottom:30px;
}

.l-1
{
  left:10px;
}

.l-2
{
  left:15px;
}

.l-3
{
  left:20px;
}

.l-4
{
  left:25px;
}

.l-5
{
  left:30px;
}

.r-1
{
  right:10px;
}

.r-2
{
  right:15px;
}

.r-3
{
  right:20px;
}

.r-4
{
  right:25px;
}

.r-5
{
  right:30px;
}

.links
{
  color: white;

  margin: 0 10px;

  font-size: 20px;
  text-decoration: none;
}

.links:hover
{
  color: rgb(255, 164, 164);
}

.nav
{
  background-color: blueviolet;

  padding: 15px 30px;
  

  text-align: left;


}